In [32]:
import pandas as pd
import numpy as np
from sklearn import linear_model

from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()

from geopy.geocoders import Nominatim
geolocator = Nominatim()

import geopy.distance

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Read in the csv file
freight_df = pd.read_csv('Freight Regression Analysis 2017 Data.csv')
freight_df = freight_df[['Origin Zip','Destination Zip','Pieces','Weight','Commodity Class','Base Retail']]
freight_df.head()
freight_df.tail()

   Origin Zip Destination Zip  Pieces  Weight  Commodity Class  Base Retail
0       75261           77303       1    2000             60.0       176.21
1       75261           29605       1     447             60.0       155.11
2       75261           76048       1     331             60.0       130.80
3       75261           76048       1     331             60.0       130.80
4       75261           75028       1    1236             60.0       145.00

     Origin Zip Destination Zip  Pieces  Weight  Commodity Class  Base Retail
582       75261           83716       7    8885             60.0      1712.17
583       75261           27616      12   18785             65.0      2114.14
584       90660           75261      12   26480             60.0      2140.63
585       75261           27616      11   11569             60.0      2210.27
586       75261          V5C5V1       4    5181             60.0      8921.20

In [18]:
freight_df.dtypes
freight_df.shape

Origin Zip           int64
Destination Zip     object
Pieces               int64
Weight               int64
Commodity Class    float64
Base Retail        float64
origin_lat         float64
origin_lng         float64
destination_lat    float64
destination_lng    float64
dtype: object

(587, 10)

# Preprocess the data

In [5]:
# Get origin zip codes as a list
origin_zips = freight_df['Origin Zip'].tolist()

origin_coord_list = []
for i in origin_zips:    
    zip_code = search.by_zipcode(i)
    zip_lat = zip_code.Latitude
    zip_lng = zip_code.Longitude 
    zip_coord = (zip_lat,zip_lng)
    origin_coord_list.append(zip_coord)
    
origin_coord_list

[(None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.816539, -118.0361736),
 (None, None),
 (None, None),
 (30.4686832, -81.6692532),
 (33.816539, -118.0361736),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.816539, -118.0361736),
 (None, None),
 (None, None),
 (33.816539, -118.0361736),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (33.98702279999999, -118.09471059999998),
 (33.98702279999999, -118.09471059999998),
 (33.98702279999999, -118.09471059999998),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.721051, -118.0478826),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.665242, -117.7490656),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.7709051, -118.14298889999999),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (34.0499095, -118.0478826),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (34.904171399999996, -82.11695499999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.816539, -118.0361736),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (None, None),
 (33.98702279999999, -118.09471059999998),
 (None, None),
 (None, None)]

In [10]:
# Convert origin list of latitude and longtitude to a dataframe
origin_coord_list_df = pd.DataFrame(origin_coord_list )
origin_coord_list_df.columns = ['origin_lat', 'origin_lng']

In [11]:
# Get destination zip codes as a list
destination_zips = freight_df['Destination Zip'].tolist()

destination_coord_list = []
for i in destination_zips:     
    zip_code = search.by_zipcode(i)
    zip_lat = zip_code.Latitude
    zip_lng = zip_code.Longitude 
    zip_coord = (zip_lat,zip_lng)
    destination_coord_list.append(zip_coord)
    
destination_coord_list

[(30.38273019999999, -95.38348540000001),
 (34.7671945, -82.37773349999998),
 (32.4084693, -97.80688509999999),
 (32.4084693, -97.80688509999999),
 (33.0478852, -97.0605998),
 (32.9464268, -97.07135720000001),
 (25.4308762, -80.3992652),
 (26.7712632, -80.0702555),
 (32.9464268, -97.07135720000001),
 (32.9464268, -97.07135720000001),
 (36.4242854, -82.97166170000001),
 (32.7476492, -97.0924899),
 (36.54217379999999, -82.10606829999998),
 (40.5417839, -105.04405200000001),
 (29.858217800000002, -90.2057108),
 (36.4242854, -82.97166170000001),
 (40.5417839, -105.04405200000001),
 (32.5355472, -92.4801989),
 (41.5214385, -83.57096399999998),
 (30.3889868, -97.67108890000002),
 (27.6515548, -97.50306690000001),
 (39.09614929999999, -96.53564490000001),
 (35.9848005, -83.6135572),
 (39.7794206, -85.7256372),
 (40.5417839, -105.04405200000001),
 (32.9464268, -97.07135720000001),
 (30.160243599999998, -95.1953554),
 (34.9208336, -82.37773349999998),
 (29.198795699999998, -81.04234290000002),
 (40.040650600000006, -105.2077798),
 (32.5355472, -92.4801989),
 (34.7671945, -82.37773349999998),
 (27.058372600000002, -82.11695499999998),
 (27.058372600000002, -82.11695499999998),
 (30.5166434, -85.4169211),
 (40.5417839, -105.04405200000001),
 (30.1471783, -97.5897372),
 (34.7671945, -82.37773349999998),
 (30.1471783, -97.5897372),
 (34.0235914, -84.59557319999998),
 (31.6102739, -94.7070616),
 (31.6102739, -94.7070616),
 (40.5417839, -105.04405200000001),
 (34.7671945, -82.37773349999998),
 (35.439356599999996, -82.4536115),
 (30.4686832, -81.6692532),
 (41.5214385, -83.57096399999998),
 (32.5355472, -92.4801989),
 (33.93975229999999, -84.21734029999998),
 (25.8235041, -80.3101684),
 (33.0478852, -97.0605998),
 (35.877440899999996, -78.5547283),
 (29.69822589999999, -95.35731940000001),
 (34.9208336, -82.37773349999998),
 (41.5214385, -83.57096399999998),
 (32.2107257, -110.8850949),
 (33.689393700000004, -112.0416754),
 (35.9848005, -83.6135572),
 (32.2107257, -110.8850949),
 (35.9848005, -83.6135572),
 (32.9464268, -97.07135720000001),
 (31.7601272, -106.3287199),
 (35.0277847, -89.93466590000001),
 (28.574741600000003, -81.3949264),
 (34.7671945, -82.37773349999998),
 (41.5250281, -85.0545197),
 (32.5355472, -92.4801989),
 (39.7794206, -85.7256372),
 (41.748902, -88.03630859999998),
 (36.0059438, -83.91619349999998),
 (34.7671945, -82.37773349999998),
 (34.0235914, -84.59557319999998),
 (28.574741600000003, -81.3949264),
 (40.5417839, -105.04405200000001),
 (None, None),
 (32.7008882, -85.37562489999998),
 (41.485710100000006, -81.69663059999998),
 (None, None),
 (None, None),
 (32.5355472, -92.4801989),
 (34.7671945, -82.37773349999998),
 (35.2413572, -80.7103532),
 (38.125624200000004, -122.1973081),
 (32.539553600000005, -111.1414226),
 (None, None),
 (36.1237711, -95.9488975),
 (33.959453, -117.72560829999999),
 (35.2413572, -80.7103532),
 (34.019884399999995, -84.5117321),
 (None, None),
 (42.5053384, -83.10591540000001),
 (None, None),
 (None, None),
 (32.5355472, -92.4801989),
 (41.5214385, -83.57096399999998),
 (34.9208336, -82.37773349999998),
 (40.6999925, -112.0118669),
 (38.099271, -85.6537627),
 (43.0939533, -78.9627624),
 (28.800557, -81.30693149999998),
 (39.685174100000005, -119.71943770000001),
 (42.7328159, -89.02749150000001),
 (32.9464268, -97.07135720000001),
 (35.2927999, -82.37773349999998),
 (41.5139193, -81.6747295),
 (41.5139193, -81.6747295),
 (34.7671945, -82.37773349999998),
 (35.4172882, -80.8765205),
 (41.485710100000006, -81.69663059999998),
 (42.5053384, -83.10591540000001),
 (40.6999925, -112.0118669),
 (39.7794206, -85.7256372),
 (38.099271, -85.6537627),
 (41.5214385, -83.57096399999998),
 (32.5355472, -92.4801989),
 (34.9208336, -82.37773349999998),
 (29.9456874, -81.73494199999998),
 (30.1471783, -97.5897372),
 (32.5355472, -92.4801989),
 (41.5250281, -85.0545197),
 (35.0277847, -89.93466590000001),
 (33.93975229999999, -84.21734029999998),
 (41.67920720000001, -85.9406745),
 (32.761275899999994, -117.07352409999999),
 (32.761275899999994, -117.07352409999999),
 (34.7671945, -82.37773349999998),
 (32.5355472, -92.4801989),
 (40.6999925, -112.0118669),
 (43.1754912, -83.6986568),
 (33.7976003, -118.07129809999999),
 (33.47678019999999, -117.1970557),
 (33.7976003, -118.07129809999999),
 (36.7486376, -119.70785320000002),
 (33.5714289, -117.7314729),
 (25.9231399, -80.3992652),
 (36.0059438, -83.91619349999998),
 (34.0235914, -84.59557319999998),
 (39.340394399999994, -76.49679189999998),
 (33.382650500000004, -117.24409569999999),
 (40.6999925, -112.0118669),
 (40.7593718, -74.1181234),
 (34.7671945, -82.37773349999998),
 (38.18766110000001, -122.2427),
 (40.717735100000006, -111.8985922),
 (27.6515548, -97.50306690000001),
 (None, None),
 (40.6999925, -112.0118669),
 (33.8291867, -118.31697140000001),
 (40.24488040000001, -74.0593872),
 (32.2107257, -110.8850949),
 (40.7360384, -73.2411506),
 (40.7593718, -74.1181234),
 (26.953193199999998, -80.254435),
 (30.1471783, -97.5897372),
 (40.040650600000006, -105.2077798),
 (32.5355472, -92.4801989),
 (34.9208336, -82.37773349999998),
 (None, None),
 (41.5214385, -83.57096399999998),
 (35.657314500000005, -120.7579834),
 (32.539553600000005, -111.1414226),
 (30.38273019999999, -95.38348540000001),
 (42.5053384, -83.10591540000001),
 (33.6991526, -116.9793554),
 (39.866593, -104.7754307),
 (28.574741600000003, -81.3949264),
 (33.7168761, -117.9600466),
 (37.7188649, -122.0780632),
 (40.6999925, -112.0118669),
 (33.8813831, -117.5378439),
 (34.0120229, -117.6786847),
 (47.8040624, -122.3735496),
 (33.7779488, -84.5746243),
 (39.0860093, -94.63212170000001),
 (40.040650600000006, -105.2077798),
 (40.6999925, -112.0118669),
 (41.67920720000001, -85.9406745),
 (34.0274622, -117.9307584),
 (35.657314500000005, -120.7579834),
 (38.517011, -121.4513314),
 (None, None),
 (35.657314500000005, -120.7579834),
 (40.1594511, -76.6181655),
 (32.4804629, -96.96386240000001),
 (45.54428239999999, -122.9521023),
 (33.7779488, -84.5746243),
 (42.1742229, -83.17934079999998),
 (33.865806400000004, -118.29358909999998),
 (39.715877299999995, -105.2311827),
 (33.816539, -118.0361736),
 (33.816539, -118.0361736),
 (37.5958949, -122.4184108),
 (37.9009213, -121.42276100000001),
 (40.6999925, -112.0118669),
 (34.7671945, -82.37773349999998),
 (29.0612685, -81.22985299999998),
 (33.7779488, -84.5746243),
 (39.0860093, -94.63212170000001),
 (42.1742229, -83.17934079999998),
 (35.2927999, -82.37773349999998),
 (43.003317100000004, -73.86542949999998),
 (41.3679249, -75.841775),
 (39.685174100000005, -119.71943770000001),
 (40.806462700000004, -89.6345796),
 (33.5714289, -117.7314729),
 (35.0277847, -89.93466590000001),
 (40.1594511, -76.6181655),
 (33.816539, -118.0361736),
 (32.4804629, -96.96386240000001),
 (43.560586900000004, -116.13282520000001),
 (41.5250281, -85.0545197),
 (33.8232001, -118.2585096),
 (38.099271, -85.6537627),
 (40.6999925, -112.0118669),
 (35.877440899999996, -78.5547283),
 (42.12371470000001, -72.5500596),
 (33.6991526, -116.9793554),
 (40.879866899999996, -74.07994690000001),
 (32.5355472, -92.4801989),
 (38.099271, -85.6537627),
 (34.0870296, -117.88681709999999),
 (41.5214385, -83.57096399999998),
 (34.0274622, -117.9307584),
 (30.4570672, -97.681943),
 (32.4804629, -96.96386240000001),
 (33.8813831, -117.5378439),
 (42.1742229, -83.17934079999998),
 (35.2927999, -82.37773349999998),
 (42.5053384, -83.10591540000001),
 (34.9208336, -82.37773349999998),
 (38.7484105, -77.23476740000001),
 (40.1594511, -76.6181655),
 (41.3679249, -75.841775),
 (45.54428239999999, -122.9521023),
 (43.003317100000004, -73.86542949999998),
 (40.2854984, -75.2829046),
 (34.0274622, -117.9307584),
 (35.0277847, -89.93466590000001),
 (39.685174100000005, -119.71943770000001),
 (37.5958949, -122.4184108),
 (43.560586900000004, -116.13282520000001),
 (33.816539, -118.0361736),
 (None, None),
 (None, None),
 (39.340394399999994, -76.49679189999998),
 (34.0274622, -117.9307584),
 (None, None),
 (None, None),
 (None, None),
 (33.92266179999999, -117.9600466),
 (28.367531899999996, -81.4169093),
 (41.5250281, -85.0545197),
 (41.5214385, -83.57096399999998),
 (34.9208336, -82.37773349999998),
 (41.5250281, -85.0545197),
 (40.040650600000006, -105.2077798),
 (43.560586900000004, -116.13282520000001),
 (33.8813831, -117.5378439),
 (None, None),
 (36.0059438, -83.91619349999998),
 (41.5214385, -83.57096399999998),
 (32.5355472, -92.4801989),
 (33.8232001, -118.2585096),
 (39.340394399999994, -76.49679189999998),
 (42.837849, -73.77131999999999),
 (38.099271, -85.6537627),
 (33.47678019999999, -117.1970557),
 (38.099271, -85.6537627),
 (38.099271, -85.6537627),
 (37.5958949, -122.4184108),
 (37.5958949, -122.4184108),
 (39.683797399999996, -119.8583772),
 (34.9208336, -82.37773349999998),
 (36.67839379999999, -119.92779469999999),
 (33.8813831, -117.5378439),
 (25.9109586, -80.30459669999998),
 (34.0274622, -117.9307584),
 (41.3679249, -75.841775),
 (35.657314500000005, -120.7579834),
 (35.657314500000005, -120.7579834),
 (42.7328159, -89.02749150000001),
 (25.9231399, -80.3992652),
 (34.7671945, -82.37773349999998),
 (35.0277847, -89.93466590000001),
 (35.0277847, -89.93466590000001),
 (41.5214385, -83.57096399999998),
 (37.5958949, -122.4184108),
 (37.5958949, -122.4184108),
 (25.4308762, -80.3992652),
 (38.7484105, -77.23476740000001),
 (35.2927999, -82.37773349999998),
 (43.003317100000004, -73.86542949999998),
 (36.67839379999999, -119.92779469999999),
 (33.98702279999999, -118.09471059999998),
 (33.4438042, -112.1310986),
 (None, None),
 (33.7779488, -84.5746243),
 (42.5053384, -83.10591540000001),
 (None, None),
 (38.517011, -121.4513314),
 (33.8813831, -117.5378439),
 (38.099271, -85.6537627),
 (38.099271, -85.6537627),
 (33.8232001, -118.2585096),
 (39.73803710000001, -105.0265195),
 (35.0277847, -89.93466590000001),
 (34.9208336, -82.37773349999998),
 (41.5214385, -83.57096399999998),
 (33.4438042, -112.1310986),
 (None, None),
 (35.877440899999996, -78.5547283),
 (36.67839379999999, -119.92779469999999),
 (41.5250281, -85.0545197),
 (34.9208336, -82.37773349999998),
 (35.0277847, -89.93466590000001),
 (41.5250281, -85.0545197),
 (42.7328159, -89.02749150000001),
 (47.6728781, -117.53610459999999),
 (35.0277847, -89.93466590000001),
 (39.683797399999996, -119.8583772),
 (39.926891600000005, -111.73761780000001),
 (39.683797399999996, -119.8583772),
 (39.683797399999996, -119.8583772),
 (39.685174100000005, -119.71943770000001),
 (30.3870686, -97.7036561),
 (42.1549524, -86.23617440000001),
 (35.0277847, -89.93466590000001),
 (34.9208336, -82.37773349999998),
 (41.5250281, -85.0545197),
 (35.657314500000005, -120.7579834),
 (34.9208336, -82.37773349999998),
 (43.560586900000004, -116.13282520000001),
 (34.9208336, -82.37773349999998),
 (42.7328159, -89.02749150000001),
 (39.683797399999996, -119.8583772),
 (35.657314500000005, -120.7579834),
 (35.657314500000005, -120.7579834),
 (42.7328159, -89.02749150000001),
 (33.92266179999999, -117.9600466),
 (39.683797399999996, -119.8583772),
 (32.5355472, -92.4801989),
 (42.5053384, -83.10591540000001),
 (35.2927999, -82.37773349999998),
 (33.8232001, -118.2585096),
 (34.0274622, -117.9307584),
 (43.560586900000004, -116.13282520000001),
 (40.5325141, -89.64399240000002),
 (None, None),
 (28.577528700000002, -81.4388858),
 (42.7328159, -89.02749150000001),
 (41.3679249, -75.841775),
 (40.1206597, -75.0552739),
 (39.683797399999996, -119.8583772),
 (43.560586900000004, -116.13282520000001),
 (45.54428239999999, -122.9521023),
 (39.683797399999996, -119.8583772),
 (40.6999925, -112.0118669),
 (39.683797399999996, -119.8583772),
 (42.5053384, -83.10591540000001),
 (38.099271, -85.6537627),
 (42.5053384, -83.10591540000001),
 (35.0277847, -89.93466590000001),
 (41.9508814, -87.94328370000002),
 (35.0277847, -89.93466590000001),
 (40.37493320000001, -74.49359129999998),
 (None, None),
 (41.9508814, -87.94328370000002),
 (42.7328159, -89.02749150000001),
 (40.5325141, -89.64399240000002),
 (33.8232001, -118.2585096),
 (41.5250281, -85.0545197),
 (33.4438042, -112.1310986),
 (39.0860093, -94.63212170000001),
 (42.1549524, -86.23617440000001),
 (35.0277847, -89.93466590000001),
 (35.2927999, -82.37773349999998),
 (43.003317100000004, -73.86542949999998),
 (39.340394399999994, -76.49679189999998),
 (28.577528700000002, -81.4388858),
 (41.3679249, -75.841775),
 (35.2927999, -82.37773349999998),
 (42.5053384, -83.10591540000001),
 (38.7484105, -77.23476740000001),
 (43.560586900000004, -116.13282520000001),
 (35.657314500000005, -120.7579834),
 (33.93975229999999, -84.21734029999998),
 (35.877440899999996, -78.5547283),
 (42.1549524, -86.23617440000001),
 (39.340394399999994, -76.49679189999998),
 (35.2927999, -82.37773349999998),
 (35.2927999, -82.37773349999998),
 (35.0277847, -89.93466590000001),
 (38.099271, -85.6537627),
 (43.560586900000004, -116.13282520000001),
 (42.5053384, -83.10591540000001),
 (35.0277847, -89.93466590000001),
 (39.683797399999996, -119.8583772),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (None, None),
 (32.4804629, -96.96386240000001),
 (30.3870686, -97.7036561),
 (30.3870686, -97.7036561),
 (39.340394399999994, -76.49679189999998),
 (37.959945000000005, -84.14351359999998),
 (35.0277847, -89.93466590000001),
 (38.099271, -85.6537627),
 (35.0277847, -89.93466590000001),
 (35.657314500000005, -120.7579834),
 (35.2927999, -82.37773349999998),
 (41.5250281, -85.0545197),
 (30.4686832, -81.6692532),
 (33.4438042, -112.1310986),
 (42.1742229, -83.17934079999998),
 (28.577528700000002, -81.4388858),
 (35.657314500000005, -120.7579834),
 (40.6999925, -112.0118669),
 (33.8813831, -117.5378439),
 (None, None),
 (34.0274622, -117.9307584),
 (42.7328159, -89.02749150000001),
 (33.9414796, -118.07129809999999),
 (42.12371470000001, -72.5500596),
 (40.1206597, -75.0552739),
 (35.657314500000005, -120.7579834),
 (39.683797399999996, -119.8583772),
 (40.5325141, -89.64399240000002),
 (28.577528700000002, -81.4388858),
 (35.2927999, -82.37773349999998),
 (33.4438042, -112.1310986),
 (None, None),
 (26.7712632, -80.0702555),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (41.5250281, -85.0545197),
 (35.2927999, -82.37773349999998),
 (41.5250281, -85.0545197),
 (42.1549524, -86.23617440000001),
 (39.683797399999996, -119.8583772),
 (42.1549524, -86.23617440000001),
 (34.0274622, -117.9307584),
 (42.1549524, -86.23617440000001),
 (42.5053384, -83.10591540000001),
 (28.577528700000002, -81.4388858),
 (42.5053384, -83.10591540000001),
 (38.3897438, -121.7651362),
 (35.2927999, -82.37773349999998),
 (33.8813831, -117.5378439),
 (42.1549524, -86.23617440000001),
 (35.657314500000005, -120.7579834),
 (37.9009213, -121.42276100000001),
 (39.685174100000005, -119.71943770000001),
 (42.5053384, -83.10591540000001),
 (39.683797399999996, -119.8583772),
 (35.877440899999996, -78.5547283),
 (42.1549524, -86.23617440000001),
 (39.685174100000005, -119.71943770000001),
 (38.3897438, -121.7651362),
 (None, None),
 (34.9208336, -82.37773349999998),
 (39.685174100000005, -119.71943770000001),
 (41.5250281, -85.0545197),
 (41.5250281, -85.0545197),
 (35.2927999, -82.37773349999998),
 (28.577528700000002, -81.4388858),
 (41.5250281, -85.0545197),
 (41.5250281, -85.0545197),
 (35.0277847, -89.93466590000001),
 (42.1549524, -86.23617440000001),
 (38.3897438, -121.7651362),
 (30.4686832, -81.6692532),
 (40.2854984, -75.2829046),
 (42.1549524, -86.23617440000001),
 (40.6999925, -112.0118669),
 (30.4686832, -81.6692532),
 (35.657314500000005, -120.7579834),
 (42.1549524, -86.23617440000001),
 (42.5053384, -83.10591540000001),
 (42.1549524, -86.23617440000001),
 (43.560586900000004, -116.13282520000001),
 (43.560586900000004, -116.13282520000001),
 (39.683797399999996, -119.8583772),
 (41.5250281, -85.0545197),
 (33.8232001, -118.2585096),
 (42.5053384, -83.10591540000001),
 (42.1549524, -86.23617440000001),
 (None, None),
 (42.1549524, -86.23617440000001),
 (39.73803710000001, -105.0265195),
 (43.003317100000004, -73.86542949999998),
 (39.340394399999994, -76.49679189999998),
 (40.2854984, -75.2829046),
 (40.1594511, -76.6181655),
 (41.5250281, -85.0545197),
 (None, None),
 (40.1594511, -76.6181655),
 (39.683797399999996, -119.8583772),
 (43.560586900000004, -116.13282520000001),
 (41.5214385, -83.57096399999998),
 (40.1594511, -76.6181655),
 (39.683797399999996, -119.8583772),
 (42.6415701, -83.34687840000001),
 (43.560586900000004, -116.13282520000001),
 (35.657314500000005, -120.7579834),
 (43.560586900000004, -116.13282520000001),
 (42.5053384, -83.10591540000001),
 (33.8232001, -118.2585096),
 (28.577528700000002, -81.4388858),
 (25.9109586, -80.30459669999998),
 (25.9109586, -80.30459669999998),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (39.685174100000005, -119.71943770000001),
 (44.93884449999999, -72.202349),
 (42.1742229, -83.17934079999998),
 (25.9109586, -80.30459669999998),
 (42.1549524, -86.23617440000001),
 (35.657314500000005, -120.7579834),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (38.7484105, -77.23476740000001),
 (40.2854984, -75.2829046),
 (37.386812, -122.07515490000002),
 (39.685174100000005, -119.71943770000001),
 (40.1594511, -76.6181655),
 (35.877440899999996, -78.5547283),
 (40.1594511, -76.6181655),
 (43.003317100000004, -73.86542949999998),
 (42.7328159, -89.02749150000001),
 (42.837849, -73.77131999999999),
 (33.4438042, -112.1310986),
 (38.81434470000001, -123.0113568),
 (36.67839379999999, -119.92779469999999),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (42.1549524, -86.23617440000001),
 (30.4686832, -81.6692532),
 (38.81434470000001, -123.0113568),
 (42.1549524, -86.23617440000001),
 (39.685174100000005, -119.71943770000001),
 (36.67839379999999, -119.92779469999999),
 (43.560586900000004, -116.13282520000001),
 (43.560586900000004, -116.13282520000001),
 (30.4686832, -81.6692532),
 (43.560586900000004, -116.13282520000001),
 (39.685174100000005, -119.71943770000001),
 (42.1549524, -86.23617440000001),
 (37.9009213, -121.42276100000001),
 (28.577528700000002, -81.4388858),
 (28.577528700000002, -81.4388858),
 (43.560586900000004, -116.13282520000001),
 (43.560586900000004, -116.13282520000001),
 (39.73803710000001, -105.0265195),
 (None, None),
 (40.1594511, -76.6181655),
 (40.2854984, -75.2829046),
 (None, None),
 (30.4686832, -81.6692532),
 (30.4686832, -81.6692532),
 (30.4686832, -81.6692532),
 (38.945719700000005, -77.2979782),
 (30.4686832, -81.6692532),
 (38.81434470000001, -123.0113568),
 (35.877440899999996, -78.5547283),
 (39.685174100000005, -119.71943770000001),
 (35.877440899999996, -78.5547283),
 (33.9414796, -118.07129809999999),
 (37.9009213, -121.42276100000001),
 (39.685174100000005, -119.71943770000001),
 (25.8235041, -80.3101684),
 (33.4438042, -112.1310986),
 (None, None),
 (40.2854984, -75.2829046),
 (33.8232001, -118.2585096),
 (42.1549524, -86.23617440000001),
 (39.73803710000001, -105.0265195),
 (35.877440899999996, -78.5547283),
 (35.877440899999996, -78.5547283),
 (43.560586900000004, -116.13282520000001),
 (35.877440899999996, -78.5547283),
 (None, None),
 (35.877440899999996, -78.5547283),
 (None, None)]

In [12]:
# Convert origin list of latitude and longtitude to a dataframe
destination_coord_list_df = pd.DataFrame(destination_coord_list)
destination_coord_list_df.columns = ['destination_lat', 'destination_lng']
destination_coord_list_df.head()
destination_coord_list_df.tail()

   destination_lat  destination_lng
0        30.382730       -95.383485
1        34.767195       -82.377733
2        32.408469       -97.806885
3        32.408469       -97.806885
4        33.047885       -97.060600

     destination_lat  destination_lng
582        43.560587      -116.132825
583        35.877441       -78.554728
584              NaN              NaN
585        35.877441       -78.554728
586              NaN              NaN

In [13]:
# Concat the origin and destination coordinates to original dataframe
freight_df = pd.concat([freight_df,origin_coord_list_df,destination_coord_list_df],axis=1) 
freight_df.head()

,Origin Zip,Destination Zip,Pieces,Weight,Commodity Class,Base Retail,origin_lat,origin_lng,destination_lat,destination_lng
0,75261,77303,1,2000,60.0,176.21,NaN,NaN,30.382730,-95.383485
1,75261,29605,1,447,60.0,155.11,NaN,NaN,34.767195,-82.377733
2,75261,76048,1,331,60.0,130.80,NaN,NaN,32.408469,-97.806885
3,75261,76048,1,331,60.0,130.80,NaN,NaN,32.408469,-97.806885
4,75261,75028,1,1236,60.0,145.00,NaN,NaN,33.047885,-97.060600

In [15]:
# Unique Origin Zipcodes: 75261, 90630, 32218, 90660, 92649, 92618, 90814, 91733, 29334
# only 75261 doesn't have coordinates [Used code below to check each of the following values]
# freight_df[(freight_df['Origin Zip'] == 29334)]

# fill the 75261 zip codes with a (lat, long) of 32.8981, -97.0337

freight_df['origin_lat'].fillna(value=32.8981, inplace=True)
freight_df['origin_lng'].fillna(value=-97.0337, inplace=True)
freight_df.head()

,Origin Zip,Destination Zip,Pieces,Weight,Commodity Class,Base Retail,origin_lat,origin_lng,destination_lat,destination_lng
0,75261,77303,1,2000,60.0,176.21,32.8981,-97.0337,30.382730,-95.383485
1,75261,29605,1,447,60.0,155.11,32.8981,-97.0337,34.767195,-82.377733
2,75261,76048,1,331,60.0,130.80,32.8981,-97.0337,32.408469,-97.806885
3,75261,76048,1,331,60.0,130.80,32.8981,-97.0337,32.408469,-97.806885
4,75261,75028,1,1236,60.0,145.00,32.8981,-97.0337,33.047885,-97.060600

In [19]:
freight_null = freight_df[freight_df['destination_lat'].isnull()]
freight_null.shape
freight_null.head()

(32, 10)

,Origin Zip,Destination Zip,Pieces,Weight,Commodity Class,Base Retail,origin_lat,origin_lng,destination_lat,destination_lng
74,90630,53547,1,132,60.0,162.38,33.816539,-118.036174,NaN,NaN
77,32218,75261,1,2063,60.0,136.85,30.468683,-81.669253,NaN,NaN
78,90630,75261,1,671,60.0,159.13,33.816539,-118.036174,NaN,NaN
84,75261,L3P2L8,1,206,60.0,172.50,32.898100,-97.033700,NaN,NaN
89,90630,75261,1,384,65.0,152.68,33.816539,-118.036174,NaN,NaN

In [20]:
#drop NaN rows
freight_df = freight_df.dropna()

In [22]:
freight_df["Origin coords"] = list(zip(freight_df["origin_lat"], freight_df["origin_lng"]))
freight_df["Destination coords"] = list(zip(freight_df["destination_lat"], freight_df["destination_lng"]))

/Users/patrickdancel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/patrickdancel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
# create a dataframe with the ''Pieces', 'Weight', 'Commodity Class','Base Retail', 'Origin coords', 'Destination coords' columns

final_freight_df = freight_df[['Pieces', 'Weight', 'Commodity Class','Base Retail', 'Origin coords', 'Destination coords']]
final_freight_df.head()

,Pieces,Weight,Commodity Class,Base Retail,Origin coords,Destination coords
0,1,2000,60.0,176.21,"(32.8981, -97.0337)","(30.3827302, -95.3834854)"
1,1,447,60.0,155.11,"(32.8981, -97.0337)","(34.7671945, -82.3777335)"
2,1,331,60.0,130.80,"(32.8981, -97.0337)","(32.4084693, -97.8068851)"
3,1,331,60.0,130.80,"(32.8981, -97.0337)","(32.4084693, -97.8068851)"
4,1,1236,60.0,145.00,"(32.8981, -97.0337)","(33.0478852, -97.0605998)"

In [29]:
# Calculate the distance between the origin and destination coordinates in Miles
distance_list = []
for item in final_freight_df.itertuples():
    coords_1 = item[5]
    coords_2 = item[6]
    distance = geopy.distance.vincenty(coords_1, coords_2).miles
    distance_list.append(distance)
final_freight_df['distance(mi)'] = distance_list

final_freight_df.head()
final_freight_df.tail()

/Users/patrickdancel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Pieces,Weight,Commodity Class,Base Retail,Origin coords,Destination coords,distance(mi)
0,1,2000,60.0,176.21,"(32.8981, -97.0337)","(30.3827302, -95.3834854)",198.726256
1,1,447,60.0,155.11,"(32.8981, -97.0337)","(34.7671945, -82.3777335)",851.967779
2,1,331,60.0,130.80,"(32.8981, -97.0337)","(32.4084693, -97.8068851)",56.302059
3,1,331,60.0,130.80,"(32.8981, -97.0337)","(32.4084693, -97.8068851)",56.302059
4,1,1236,60.0,145.00,"(32.8981, -97.0337)","(33.0478852, -97.0605998)",10.439673

,Pieces,Weight,Commodity Class,Base Retail,Origin coords,Destination coords,distance(mi)
580,15,18929,65.0,1619.13,"(32.8981, -97.0337)","(35.8774409, -78.5547283)",1074.004985
581,12,18946,60.0,1672.52,"(32.8981, -97.0337)","(35.8774409, -78.5547283)",1074.004985
582,7,8885,60.0,1712.17,"(32.8981, -97.0337)","(43.5605869, -116.1328252)",1267.990337
583,12,18785,65.0,2114.14,"(32.8981, -97.0337)","(35.8774409, -78.5547283)",1074.004985
585,11,11569,60.0,2210.27,"(32.8981, -97.0337)","(35.8774409, -78.5547283)",1074.004985

In [34]:
final_freight_df.columns

Index(['Pieces', 'Weight', 'Commodity Class', 'Base Retail', 'Origin coords',
       'Destination coords', 'distance(mi)'],
      dtype='object')

In [35]:
# Select the five columns to run the linear regression model
final_freight_df = final_freight_df[['Pieces', 'Weight', 'Commodity Class', 'Base Retail', 'distance(mi)']]
final_freight_df.head()
# Save to a csv file
final_freight_df.to_csv('freight_data_clean.csv')

   Pieces  Weight  Commodity Class  Base Retail  distance(mi)
0       1    2000             60.0       176.21    198.726256
1       1     447             60.0       155.11    851.967779
2       1     331             60.0       130.80     56.302059
3       1     331             60.0       130.80     56.302059
4       1    1236             60.0       145.00     10.439673